@charset "UTF-8";

.main-body {
	margin-top: 20px;
}

table {
	width: 100%;
}

td {
	padding: 5px;
}

.commRegForm {
	width: 100%;
	box-sizing: border-box;
}

.comm-info {
	padding: 1% 7%;
	padding-bottom: 150px;
}

.required-asterisk {
	color: red;
}

.fields-container {
	border-top: 2px solid #00113C;
	padding: 10px;
	width: auto;
}

.field {
	display: flex;
	margin-bottom: 10px;
}

.field-name {
	min-width: 150px;
}

.field-input {
	width: 500px;
	padding: 4px;
}

#submit-contact {
	padding: 10px 20px;
	border: 0;
	background-color: #446088;
	color: white;
	border-radius: 8px;
}